*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(https://boykotyolu.com.tr/assets/back42.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

