@media screen and (max-width: 1024px) {
  .header-container {
    width: 936px;
    max-width: 100%;
  }
}
@media screen and (max-width: 993px) {
  .header-container {
    width: 936px;
    max-width: 100%;
  }
}
@media screen and (max-width: 769px) {
  .header-container {
    width: 696px;
    max-width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .header-container {
    width: 401.6px;
    max-width: 100%;
  }
}
@media screen and (max-width: 376px) {
  .header-container {
    width: 351.5px;
    max-width: 100%;
  }
}
