@media screen and (max-width:1024px) {
    .product-container{
        width: 936px;
        max-width: 100%;
        margin: 0 auto;
    
    }

    
}
@media screen and (max-width:993px) {

}
@media screen and (max-width:769px) {
    .product-container{
        width: 696px;
        max-width: 100%;
    
    }

    
}

@media screen and (max-width:570px) {
    .product-container{
        width: 375px;
        max-width: 100%;
    
    }
    
}
@media screen and (max-width:570px) {
    .product-container{
        width: 375px;
        max-width: 100%;
    
    }
    
}
@media screen and (max-width:426px) {
    .product-container{
        width: 375px;
        max-width: 100%;
    
    }
    
}
@media screen and (max-width:376px) {
    .product-container{
        width: 320px;
        max-width: 100%;
    
    }
    
}