@media screen and (max-width: 1024px) {
  .no-body-2 {
  }
  .text-button {
  }
  .text-button > button {
    width: 280px;
  }
  .text-button > button:hover {
  }
  .text-logo {
  }
  .text-logo-image {
  }
  .text-logo-image > img {
    width: 80px;
    height: 80px;
  }
  .text-logo-image > h1 {
    font-size: 54px;
  }
  .text-logo > button {
    width: 180px;
  }
  .text-logo > button:hover {
  }
  .text-phone {
  }
  .text-phone-info {
    padding: 35px 25px;
  }
  .text-phone-container {
    padding: 25px 35px;
  }
  .text-phone-container > p {
    font-size: 22px;
  }
  .cause-container {
  }
  .cause-button {
  }
  .cause-button > button {
  }
  .cause-button > button:hover {
  }
  .cause-blocks {
  }
  .cause-block {
  }
  .cause-block > p {
    font-size: 22px;
  }
}
@media screen and (max-width: 992px) {
  .no-body-2 {
  }
  .text-button {
  }
  .text-button > button {
    width: 280px;
  }
  .text-button > button:hover {
  }
  .text-logo {
  }
  .text-logo-image {
  }
  .text-logo-image > img {
    width: 80px;
    height: 80px;
  }
  .text-logo-image > h1 {
    font-size: 54px;
  }
  .text-logo > button {
    width: 180px;
  }
  .text-logo > button:hover {
  }
  .text-phone {
  }
  .text-phone-info {
    padding: 35px 25px;
  }
  .text-phone-container {
    padding: 25px 35px;
  }
  .text-phone-container > p {
    font-size: 22px;
  }
  .cause-container {
  }
  .cause-button {
  }
  .cause-button > button {
  }
  .cause-button > button:hover {
  }
  .cause-blocks {
  }
  .cause-block {
  }
  .cause-block > p {
    font-size: 22px;
  }
}
@media screen and (max-width: 769px) {
  .no-body-2 {
  }
  .text-button {
  }
  .text-button > button {
    width: 280px;
  }
  .text-button > button:hover {
  }
  .text-logo {
    flex-direction: column;
  }
  .text-logo-image {
  }
  .text-logo-image > img {
    width: 80px;
    height: 80px;
  }
  .text-logo-image > h1 {
    font-size: 54px;
  }
  .text-logo > button {
    width: 180px;
    position: relative;
    margin-top: 15px;
  }
  .text-logo > button:hover {
  }
  .text-phone {
  }
  .text-phone-info {
    padding: 35px 25px;
  }
  .text-phone-container {
    padding: 25px 35px;
  }
  .text-phone-container > p {
    font-size: 20px;
  }
  .cause-container {
  }
  .cause-button {
  }
  .cause-button > button {
  }
  .cause-button > button:hover {
  }
  .cause-blocks {
  }
  .cause-block {
  }
  .cause-block > p {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .no-body-2 {
  }
  .text-button {
    margin-top: 24px;
  }
  .text-button > button {
    width: 240px;
  }
  .text-button > button:hover {
  }
  .text-logo {
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
  }
  .text-logo-image {
  }
  .text-logo-image > img {
    width: 60px;
    height: 60px;
  }
  .text-logo-image > h1 {
    font-size: 44px;
  }
  .text-logo > button {
    width: 180px;
    position: relative;
    margin-top: 5px;
  }
  .text-logo > button:hover {
  }
  .text-phone {
  }
  .text-phone-info {
    padding: 25px 30px;
  }
  .text-phone-container {
    padding: 18px 35px;
  }
  .text-phone-container > p {
    font-size: 18px;
  }
  .cause-container {
    margin-top: 25px;
  }
  .cause-button {
  }
  .cause-button > button {
  }
  .cause-button > button:hover {
  }
  .cause-blocks {
    margin-top: 20px;
  }
  .cause-block {
    padding: 15px 20px 25px 20px;
  }
  .cause-block > p {
    font-size: 18px;
    margin: 0;
    /* line-height: 24px; */
  }
}
@media screen and (max-width: 375px) {
  .no-body-2 {
  }
  .text-button {
    margin-top: 24px;
  }
  .text-button > button {
    width: 194px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
  }
  .text-button > button:hover {
  }
  .text-logo {
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
  }
  .text-logo-image {
  }
  .text-logo-image > img {
    width: 55px;
    height: 55px;
  }
  .text-logo-image > h1 {
    font-size: 40px;
    font-weight: 400;
  }
  .text-logo > button {
    width: 180px;
    position: relative;
    margin-top: 5px;
  }
  .text-logo > button:hover {
  }
  .text-phone {
  }
  .text-phone-info {
    padding: 25px 30px;
  }
  .text-phone-container {
    padding: 18px 35px;
  }
  .text-phone-container > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }
  .cause-container {
    margin-top: 25px;
  }
  .cause-button {
  }
  .cause-button > button {
    width: 90px;
    height: 29px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
  }
  .cause-button > button:hover {
  }
  .cause-blocks {
    margin-top: 15px;
  }
  .cause-block {
    padding: 15px 10px 25px 10px;
  }
  .cause-block > p {
font-size: 16px;
font-weight: 500;
line-height: 25px;
text-align: center;

    margin: 0;
    /* line-height: 24px; */
  }
}
