.text-container{
    width: 800px;
}
.text-container>h1{
    font-size: 25px;
    color: white;
    font-family:'Ubuntu', sans-serif;
    font-weight: 500;
}
.text-container>h1>span{
    /* background-color: red; */
    background-color: RGBA(220, 53, 69, var(--bs-bg-opacity, 1)) !important;

}