.no-body-2{
    width: 100%;
    background: url("https://boykotyolu.com.tr/assets/back42.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
.text-button {
  display: flex;
  justify-content: center;
}
.text-button > button {
  width: 330px;
  max-width: 100%;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: #cec3b65e;
  border: 1px solid #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
}
.text-button > button:hover{
    cursor: pointer;
}
.text-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 25px;
}
.text-logo-image {
    display: flex;
    align-items: center;
    gap: 25px;
}
.text-logo-image > img {
    width: 100px;
    height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.text-logo-image > h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 73.54px;
  text-align: left;
  color: #ffffff;
}
.text-logo > button {
  width: 202px;
  height: 39px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: #ff0000b2;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #ffffff;
  position: absolute;
  right: 0;
}
.text-logo > button:hover{
    cursor: pointer;
}
.text-phone {
  width: 868px;
  max-width: 100%;
  margin: 0 auto;
  background-image: url("../../../public/image 4.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-top: 25px;
}
.text-phone-info {
  padding: 40px 30px;
}
.text-phone-container {
  padding: 25px 40px;
  background: #00000073;
  border-radius: 10px;
}
.text-phone-container > p {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.cause-container{
    margin-top: 40px;

}
.cause-button{
display: flex;
justify-content: center;
}
.cause-button>button{
width: 189px;
height: 50px;
border-radius: 5px;
border: 1px solid #FF0000;
background: #FFFFFF8A;
font-family: "Inter", sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 30px;
color: #FF0000;

}
.cause-button>button:hover{
    cursor: pointer;
}
.cause-blocks{
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
    margin-top: 25px;
}
.cause-block{
    padding: 15px 30px 30px 30px;
    background: #00000082;
    border-bottom: 1px solid #DEE2E6;
    border-radius: 10px;
}
.cause-block>p{
    font-family: Ubuntu;
font-size: 24px;
font-weight: 500;
line-height: 30px;
font-family: "Ubuntu", sans-serif;
color: #FFFFFF;

}