.translator-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
    color: white;
    gap: 15px

}
.translator-info>p{
    margin: 0;
    font-size: 25px;
    font-family:'Ubuntu', sans-serif;
}
.translator-info>p:hover{
    cursor: pointer;
    background-color: RGBA(220, 53, 69, var(--bs-bg-opacity, 1)) !important;
}